{% extends 'base.html' %}

{% block content %}

<h1>Events</h1>

<a href="/create">+ New Event</a>

<!-- 
    TODO: Use the event objects to display the correct information (and take 
    out the hardcoded values)
-->

{% for event in events %}
<div class="event-container">
    <h3><a href="{{ url_for('main.event_detail', event_id=event.id) }}">{{ event.title }}</a></h3>
    <p><strong>Date and Time:</strong> {{ event.date_and_time.strftime('%A %B %d, %Y at %I:%M %p') }}</p>
    <p><strong>Description:</strong> {{ event.description }}</p>
    <p class="small-text">
        {{ event.guests.count() }} attending
    </p>
</div>

{% else %}

<div class="event-container">
    <p>No events yet! <a href="/create">Create one</a>.</p>
</div>
{% endfor %}


{% endblock %}